// Sections
@import "src/components/sections/BannerText/banner-text.scss";
@import "src/components/sections/Hero/hero.scss";
@import "src/components/sections/ProductShelf/product-shelf.scss";
@import "src/components/sections/Section/section.scss";

// Skeletons
@import "src/components/skeletons/ProductCardSkeleton/product-card-skeleton.scss";
@import "src/components/skeletons/ProductTilesSkeleton/ProductTileSkeleton/product-tile-skeleton.scss";
@import "src/components/skeletons/Shimmer/shimmer.scss";
@import "src/components/skeletons/SkeletonElement/skeleton-element.scss";

// UI
@import "src/components/ui/Tiles/tiles.scss";
