@import "src/styles/scaffold";

.incentives {
  display: flex;
  justify-content: center;

  [data-store-list] {
    display: flex;
    width: fit-content;
    overflow-x: auto;

    @include media("<notebook") {
      li {
        &:not(:first-child) {
          [data-store-incentive] {
            padding: 0 var(--fs-spacing-4);
          }
        }

        &:first-child {
          [data-store-incentive] {
            padding-right: var(--fs-spacing-4);
            padding-left: 0;
          }
        }

        &:last-child {
          [data-store-incentive] {
            padding-right: 0;
          }
        }
      }
    }

    @include media(">=notebook") {
      justify-content: center;
    }

    li {
      &:not(:last-child) {
        border-right: 1px solid var(--fs-border-color-light);
      }
    }
  }

  [data-store-incentive] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p, span {
      font-size: var(--fs-text-size-1);
    }

    p {
      font-weight: var(--fs-text-weight-bold);
      line-height: 1.42;
    }

    span {
      display: block;
      line-height: 1.14;
      white-space: nowrap;
    }

    [data-incentive-content] {
      text-align: center;
    }

    @include media("<notebook") {
      row-gap: var(--fs-spacing-0);
    }

    @include media(">=notebook") {
      flex-direction: row;
      padding: 0 var(--fs-spacing-5);

      [data-incentive-content] {
        margin-left: var(--fs-spacing-2);
        text-align: left;
      }
    }
  }

  &.incentives--colored {
    padding-top: var(--fs-spacing-4);
    padding-bottom: var(--fs-spacing-4);
    background-color: var(--fs-color-primary-bkg-light);
  }
}

//////////////////////////////////////////////////////////////////////////////////////

[data-fs-incentives] {
  // --------------------------------------------------------
  // Design Tokens for Incentives
  // --------------------------------------------------------

  // Default properties
  --fs-incentives-display              : flex;
  --fs-incentives-flex-direction       : column;
  --fs-incentives-align-items          : center;
  --fs-incentives-justify-content      : center;
  --fs-incentives-text-align           : center;

  // p
  --fs-incentives-font-weight: var(--fs-text-weight-bold);
  --fs-incentives-line-height: 1.42;

  // span

  // p & span

  // Colored
  --fs-incentives-colored-padding-top       : var(--fs-spacing-4);
  --fs-incentives-colored-padding-bottom    : var(--fs-spacing-4);
  --fs-incentives-colored-background-color  : var(--fs-color-primary-bkg-light);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: var(--fs-incentives-display);
  flex-direction: var(--fs-incentives-flex-direction);
  align-items: var(--fs-incentives-align-items);
  justify-content: var(--fs-incentives-justify-content);

  // Incentives Colored
  &.incentives--colored {
    padding-top: var(--fs-incentives-colored-padding-top);
    padding-bottom: var(--fs-incentives-colored-padding-bottom);
    background-color: var(--fs-incentives-colored-background-color);
  }
}

p, [data-fs-incentives] {
  font-weight: var(--fs-text-weight-bold);
  line-height: 1.42;
}

span, [data-fs-incentives] {
  display: block;
  line-height: 1.14;
  white-space: nowrap;
}

p, span, [data-fs-incentives] {
  font-size: var(--fs-text-size-1);
}

[data-incentive-content][data-fs-incentives] {
  text-align: var(--fs-incentives-text-align);
}
